{% extends 'GrcBundle::layout.html.twig' %}

{% block body %}

<div class="create_ticket">
	
	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success alert-dismissible navbar-header pagination-centered col-md-6 col-md-offset-3 flashbagticket" role="alert">
		<p><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
		<p class="flashbagfirst"><strong>Votre ticket à bien été crée </strong></p>
		<p class="flashbagsecond"><strong>N° de ticket: {{ lastticket.id }} . Cliquez <a href="{{ path('ticket', { 'id': lastticket.id }) }}">ICI</a> pour y acceder.</strong></p>
		</div>
	{% endfor %}

															

	<div class="formulaire_ticket col-md-4 col-md-offset-4">
		<h3>Créer votre ticket en remplissant le formulaire ci-dessous</h3>
		{{ form_start(form) }}
			<div class="form-group">
				<label for="categories">Selectionnez la catégorie:</label>
				<select id="categories" name="cat" class="form-control">
					<option value="0">-- Categorie --</option>
					{% for categorie in categories %}
						<option value= {{ categorie.id }} > {{ categorie.name }} </option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="sscategories">Selectionnez la sous-catégorie:</label>
				<select id="sscategories" name="sscat" class="form-control">
					<option value="0">-- Sous-catégorie--</option>
				</select>
			</div>
			<div class="form-group">
				{{ form_label(form.content) }}<span class="red_star"> *</span></br>
				{{ form_widget(form.content) }}
			</div>
			<div class="form-group">
				{{ form_label(form.path) }}
				{{ form_widget(form.path) }}
			</div>
			<div class="submit_ticket">
				<input type="submit" value="Soumettre ma demande" class="btn btn-default"/>
			</div>
				<p><span class="red_star"> * </span>Champs obligatoires</p>
		{{ form_end(form) }}
	</div>
</div>


<script type="text/javascript">
$("document").ready(function() { 

    $("#categories").change(function() {

		var categorie = $(this).val();
            
			if ( categorie != 0 ) {

				$.ajax({
				type: 'POST',
				url: "{{ path('ajaxsscat') }}",
				data: {categorie: categorie},
				dataType : 'json',
				beforeSend: function() {
					console.log('On charge');
					$("#sscategories option").remove();
					$("#sscategories").append($('<option>',{ value : 0 , text: "-- Sous-catégorie--" }));
					$("#sscategories").attr('disabled', 'disabled');
				},
				success: function(data) {
				console.log('Requete ok',data);
					$.each(data.sscatlist, function(index,value) {
						$("#sscategories").append($('<option>',{ value : value.id , text: value.name }));
						$("#sscategories").removeAttr('disabled');
					});

				},
				error: function() {
				alert('La requête n\'a pas abouti'); }
				});
			} else {
				$("#sscategories option").remove();
				$("#sscategories").append($('<option>',{ value : 0 , text: "-- Sous-catégorie--" }));
				$("#sscategories").attr('disabled', 'disabled');
			}
    });
});
</script>

{% endblock %}