{% extends 'GrcBundle::layout.html.twig' %}

{% block body %}

<div class="page_formulaire">
	<h3>Créer votre ticket en remplissant le formulaire ci-dessous</h3>
	<div class="formulaire">
		{{ form_start(form) }}
			
			<p><b>Veuillez sélectionner la catégorie/sous-catégorie:</b></p>
			<select id="categories" name="cat">
				<option value="0">-- Categorie --</option>
					{% for categorie in categories %}
						<option value= {{ categorie.id }} > {{ categorie.name }} </option>
					{% endfor %}
			</select>

			<select id="sscategories" name="sscat">
				<option value="0">-- Sous-catégorie--</option>
			</select></br></br>

			<p><b>Veuillez décrire votre demande:</b></p>
			{{ form_widget(form.content) }}</br></br>

			<input type="submit" value="Create" />
		{{ form_end(form) }}
	</div>
</div>

<script type="text/javascript">
$("document").ready(function() { 

    $("#categories").change(function() {

		var categorie = $(this).val();
            
			if ( categorie != 0 ) {

				$.ajax({
				type: 'POST',
				url: "{{ path('ajaxsscat') }}",
				data: {categorie: categorie},
				dataType : 'json',
				beforeSend: function() {
					console.log('On charge');
					$("#sscategories option").remove();
					$("#sscategories").append($('<option>',{ value : 0 , text: "-- Sous-catégorie--" }));
					$("#sscategories").attr('disabled', 'disabled');
				},
				success: function(data) {
				console.log('Requete ok',data);
					$.each(data.sscatlist, function(index,value) {
						$("#sscategories").append($('<option>',{ value : value.id , text: value.name }));
						$("#sscategories").removeAttr('disabled');
					});

				},
				error: function() {
				alert('La requête n\'a pas abouti'); }
				});
			} else {
				$("#sscategories option").remove();
				$("#sscategories").append($('<option>',{ value : 0 , text: "-- Sous-catégorie--" }));
				$("#sscategories").attr('disabled', 'disabled');
			}
    });
});
</script>

{% endblock %}