{% extends 'GrcBundle::layout.html.twig' %}

{% block body %}
<div class="grc_dashboard">
{% include "GrcBundle::Default/searchbar.html.twig" %}
	<h1>Bienvenue sur votre outil de gestion de ticket
	</h1>
	<div class="col-md-12 dashboard">
		<div class="col-md-2 col-md-offset-2 tableau">
			<div class="tableau-top">
				<h2>Status</h2>
			</div>
			<div class="tableau-low" id="interligne">
				<p>A traiter: <span class="rouge">{{ statstab['nbtoclass'] }}</span></p>
				<p>En cours: <span class="orange">{{ statstab['nbinprogress'] }}</span></p>
				<p>Cloturés: <span class="vert">{{ statstab['nbclosed'] }}</span></p>
				<p>Archivés: <span class="gris">{{ statstab['nbarchived'] }}</span></p>
			</div>
		</div>
		<div class="col-md-2 col-md-offset-1 tableau">
			<div class="tableau-top">				
				<h2>Priorités</h2>
			</div>
			<div class="tableau-low">				
				<p>Très urgent: <span class="rouge">{{ statstab['nbhu'] }}</span></p>
				<p>Urgent: <span class="rouge">{{ statstab['nburgent'] }}</span></p>
				<p>Bloquant: <span class="orange">{{ statstab['nbblocking'] }}</span></p>
				<p>Simple: <span class="vert">{{ statstab['nbsimple'] }}</span></p>
				<p>Basse: <span class="vert">{{ statstab['nblow'] }}</span></p>
			</div>
		</div>
		<div class="col-md-2 col-md-offset-1 tableau">
			<div class="tableau-top">
				<h2>Catégories</h2>
			</div>
			<div class="tableau-low" id="graph">
				<p><img src="{{ asset('/img/categorie.jpg') }}"></p>
			</div>
		</div>
	</div>

	<div class="col-md-12 liste">
		<div class="col-md-8 col-md-offset-2">
			<h3>Nouveaux tickets</h3>
			<table id="table_id" class="display tab1">
				<thead>
					<tr>
						<th class="col-tic">N° ticket</th>
						<th class="col-cat">Catégorie</th>
						<th class="col-dem">Demandeur</th>
						<th class="col-act">Dernière action</th>
						<th class="col-prio">Priorité</th>
					</tr>
				</thead>
				<tbody>
					{% if newtickets is defined %}
						{% for newticket in newtickets %}
							<tr> 
								<td>{{ newticket['id'] }}</td>
								<td>{{ newticket['category'] }}</td> 
								<td>{{ newticket['sender'] }}</td>
								<td>{{ newticket['date'].date | date('d/m/Y h:m:s') }}</td>
								<td>{{ newticket['priority'] }}</td>
							</tr>
						{% endfor %}
					{% endif %}
					<tr>
						<td>5</td>
						<td>Pièce manquante</td>
						<td>Claude Sauvage</td>
						<td>11/06/16</td>
						<td>Urgent</td>
					</tr>
		   		</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-12 liste">
		<div class="col-md-8 col-md-offset-2">
			<h3>Dernier très urgent</h3>
			<table id="table_id" class="display tab1">
				<thead>
					<tr>
						<th class="col-tic">N° ticket</th>
						<th class="col-cat">Catégorie</th>
						<th class="col-dem">Demandeur</th>
						<th class="col-act">Dernière action</th>
						<th class="col-prio">Priorité</th>
					</tr>
				</thead>
				<tbody>
					{% if hutickets is defined %}
						{% for huticket in hutickets %}
							<tr> 
								<td>{{ huticket['id'] }}</td>
								<td>{{ huticket['category'] }}</td> 
								<td>{{ huticket['sender'] }}</td>
								<td>{{ huticket['date'].date | date('d/m/Y h:m:s') }}</td>
								<td>{{ huticket['priority'] }}</td>
							</tr>
						{% endfor %}
					{% endif %}
					<tr>
						<td>5</td>
						<td>Pièce manquante</td>
						<td>Claude Sauvage</td>
						<td>11/06/16</td>
						<td>Très Urgent</td>
					</tr>
		   		</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-12 liste">
		<div class="col-md-8 col-md-offset-2">
			<h3>Derniers urgent</h3>
			<table id="table_id" class="display tab1">
				<thead>
					<tr>
						<th class="col-tic">N° ticket</th>
						<th class="col-cat">Catégorie</th>
						<th class="col-dem">Demandeur</th>
						<th class="col-act">Dernière action</th>
						<th class="col-prio">Priorité</th>
					</tr>
				</thead>
				<tbody>
					{% if urgenttickets is defined %}
						{% for urgentticket in urgenttickets %}
							<tr> 
								<td>{{ urgentticket['id'] }}</td>
								<td>{{ urgentticket['category'] }}</td> 
								<td>{{ urgentticket['sender'] }}</td>
								<td>{{ urgentticket['date'].date | date('d/m/Y h:m:s') }}</td>
								<td>{{ urgentticket['priority'] }}</td>
							</tr>
						{% endfor %}
					{% endif %}
					<tr>
						<td>5</td>
						<td>Pièce manquante</td>
						<td>Claude Sauvage</td>
						<td>11/06/16</td>
						<td>Urgent</td>
					</tr>
		   		</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-12 liste lastlist">
		<div class="col-md-8 col-md-offset-2">
			<h3>Derniers commentaires reçus</h3>
			<table class="display tab1">
				<thead>
					<tr>
						<th class="col-tic">N° ticket</th>
						<th class="col-cat">Catégorie</th>
						<th class="col-dem">Demandeur</th>
						<th class="col-act">Dernière action</th>
						<th class="col-prio">Priorité</th>
					</tr>
				</thead>
				<tbody>
					{% if commentedtickets is defined %}
						{% for commentedticket in commentedtickets %}
							<tr> 
								<td>{{ commentedticket['id'] }}</td>
								<td>{{ commentedticket['category'] }}</td> 
								<td>{{ commentedticket['sender'] }}</td>
								<td>{{ commentedticket['date'].date | date('d/m/Y h:m:s') }}</td>
								<td>{{ commentedticket['priority'] }}</td>
							</tr>
						{% endfor %}
					{% endif %}
					<tr>
						<td>5</td>
						<td>Pièce manquante</td>
						<td>Claude Sauvage</td>
						<td>28/06/16</td>
						<td>Urgent</td>
					</tr>
		   		</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript"> 
    $(document).ready(function() { 
        $('.tab1').DataTable( {
            "paging": false,
            "ordering": false, 
            "info": false, 
            "sDom": '<"H"lr>t<"F"ip>' 
        }); 
    });
</script>
{% endblock %}

