{% extends 'GrcBundle::layout.html.twig' %}

{% block body %}
{% if is_granted('ROLE_COM') %}
{% include "GrcBundle::Default/searchbar.html.twig" %}
{% endif %}
	<div class="container_ticket">
		<h2>Ticket N°{{ ticket.id }}</h2>
		<div class="row parametre_ticket">
			<div class="col-md-2 col-md-offset-2 param_display">
				<h3>Infos ticket :</h2>
				<table>
					<tr>
						<td class="param_inti">Status : </td>
						<td class="param_val"><span id="mystatus">{{ ticket.status }}</span></td>
					</tr>
					{% if is_granted('ROLE_COM') %}
					<tr>
						<td class="param_inti">Priorité : </td>
						<td class="param_val"><span id="mypriority">{{ ticket.priority }}</span></td>
					</tr>
					{% endif %}
					<tr>
						<td class="param_inti">Catégorie : </td>
						<td class="param_val"><span id="mycategory">{{ mycategory }}</span></td>
					</tr>
					<tr>
						<td class="param_inti">Sous-cat : </td>
						<td class="param_val"><span id="mysscategory">{{ mysscategory }}</span></td>
					</tr>
				</table>
			</div>
			{% if is_granted('ROLE_COM') %}
			<div class="col-md-2 col-md-offset-4 param_setup">
				<h3>Paramétrage ticket: </h2>
				<div class="elem_param">
					<select id="status_update" name="status">
							<option value="0">--Changer statut--</option>
							{% for status in liststatus %}
								<option value="{{ status.id }}">{{ status.name }}</option>
							{% endfor %}
					</select>
				</div>
				<div class="elem_param">
					<select id="priority_update" name="priority">
							<option value="0">--Définir priorité--</option>
							{% for priority in listpriorities %}
								<option value="{{ priority.id }}">{{ priority.name }}</option>
							{% endfor %}						
					</select>
				</div>
				<div class="elem_param">
					<select id="category_update" name="category">
							<option value="0">--Définir catégorie--</option>
							{% for category in listcategories %}
								<option value="{{ category.id }}">{{ category.name }}</option>
							{% endfor %}						
					</select>
				</div>
				<div class="elem_param">
					<select id="sscategory_update" name="sscategory">
							<option value="0">--Définir sous-catégorie--</option>		
					</select>
				</div>
				<div class="elem_param">
					<button class="btn btn-default" id="maj_para_ticket" type="button">Valider et mettre à jour</button>
				</div>
			</div>
			{% endif %}
		</div>
		<p><span class="sous_titre_com">Demande initiale: </span></p>
		<div class="demande_init">
			<div class="demande_init_titre">
				<p>Demandeur: <a href="{{ path('grc_fiche_client', { 'id': senderid }) }}">{{ senderusername }}</a><span>Date création: {{ ticket.date | date('d-m-Y')}} à {{ ticket.date | date('H:i:s') }}</span></p>
			</div>
			<div class="demande_init_contenu">
				<p><b>Description: </b>{{ ticket.content }}</p>
				{% if (mypath != "0") %}
    				<p><b>Pièce jointe: </b><a class="btn" href="{{ path('grc_download', { 'name' : mypath }) }}">{{ myoriginalname }}</a></p>
				{% endif %}	
			</div>
		</div>
		<p><span class="sous_titre_com">Historique des échanges: </span></p>
		{% if listcomments is defined %}	
			{% for comment in listcomments %}
				<div class="commentaire">
					<div class="commentaire_entete">
						<p>De: Sender n° {{ comment.idsender }}<span>Date: {{ comment.date | date('d-m-Y') }} à {{ comment.date | date('H:i:s') }}</span></p>
					</div>
					<p>{{ comment.content }}</p>
					<p><b>Pièce jointe: </b>IMG_23456.jpg</p>
				</div>
			{% endfor %}
		{% endif %}


		<div class="bloc_reponse">
			<form method="post" action="{{ path('ticket_comment') }}">
				<label for="content">Laisser un commentaire:</label>
				<textarea class="input_com" type="text" rows="3" name="content"></textarea>
				<input name="idticket" value="{{ ticket.id }}" style="display:none;"/>
				<button type="button" class="btn btn-default btn-com-left">Ajouter un fichier</button>
				<button type="submit" class="btn btn-default btn-com-right">Envoyer</button>
			<form>
		</div>
		
	</div>
	<script type="text/javascript">
		$("document").ready(function() {

		$("#category_update").val(0);
		$("#sscategory_update").attr('disabled', 'disabled');

    	$("#maj_para_ticket").click(function() {

			var status = $("#status_update").val();
			var priority = $("#priority_update").val();
			var category = $("#category_update").val();
			var sscategory = $("#sscategory_update").val();
			var ticketid = {{ ticket.id }};
			console.log(status,priority,ticketid);
            
			$.ajax({
				type: 'POST',
				url: "{{ path('ajaxparamticket') }}",
				data: {status: status, priority: priority, ticketid:ticketid, category: category, sscategory: sscategory },
				dataType : 'json',
			beforeSend: function() {
					console.log('On charge');					
				},
			success: function(data) {
					console.log('Requete ok',data.update[0].status);
					if (data.update[0].status != "0"){
					$("#mystatus").html(data.update[0].status);
					}
					if (data.update[0].priority != "0"){
					$("#mypriority").html(data.update[0].priority);
					}
					if (data.update[0].category != "0"){
					$("#mycategory").html(data.update[0].category);
					}
					if (data.update[0].sscategory != "0"){
					$("#mysscategory").html(data.update[0].sscategory);
					}					
					$("#status_update").val(0);
					$("#priority_update").val(0);
					$("#category_update").val(0);
					$("#sscategory_update").val(0);
					$("#sscategory_update option").remove();
					$("#sscategory_update").append($('<option>',{ value : 0 , text: "--Définir sous-catégorie--" }));
					$("#sscategory_update").attr('disabled', 'disabled');
				},
			error: function() {
				alert('La requête n\'a pas abouti'); }
				});

    	});

    	$("#category_update").change(function() {

		var categorie = $(this).val();
            
			if ( categorie != 0 ) {

				$.ajax({
				type: 'POST',
				url: "{{ path('ajaxsscat') }}",
				data: {categorie: categorie},
				dataType : 'json',
				beforeSend: function() {
					console.log('On charge');
					$("#sscategory_update option").remove();
					$("#sscategory_update").append($('<option>',{ value : 0 , text: "-- Sous-catégorie--" }));
					$("#sscategory_update").attr('disabled', 'disabled');
				},
				success: function(data) {
				console.log('Requete ok',data);
					$.each(data.sscatlist, function(index,value) {
						$("#sscategory_update").append($('<option>',{ value : value.id , text: value.name }));
						$("#sscategory_update").removeAttr('disabled');
					});

				},
				error: function() {
				alert('La requête n\'a pas abouti'); }
				});
			} else {
				$("#sscategory_update option").remove();
				$("#sscategory_update").append($('<option>',{ value : 0 , text: "-- Sous-catégorie--" }));
				$("#sscategory_update").attr('disabled', 'disabled');
			}
    	});
	});
	</script>
{% endblock %}