{% extends "GedBundle::layout.html.twig" %}
{% block body %}
{% include "GedBundle::nav.html.twig" %}
{% include "GedBundle::search.html.twig" %}
<div class="col-md-10">
	<h3 style="text-align:center;">Mes favoris</h3>
{# 	tableau datatables pour les favoris #}
	<table class="table compact stripe" id="table">
		<thead> 
			<tr> 
				<th></th>
				<th>Nom du fichier</th>
				<th>Date</th>
				<th>Catégorie</th> 
				<th>Tags</th>
				<th>Favori</th>
				<th>Paramètres</th>
				<th>Telecharger</th>
			</tr> 
		</thead> 
		<tbody>
			{% if tabfav is defined %}
				{% for favorite in tabfav %}
					<tr> 
						<td>{% if favorite['type'] == 'jpeg' or favorite['type'] == 'jpg' or favorite['type'] == 'png' or favorite['type'] == 'gif' %}
							<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
						{% else %}
							Ico
						{% endif %}
						</td>
						<td><a data-toggle="tooltip" data-placement="bottom" title="
								Partagé avec: {% if favorite['groupMemberName'] != 1 %}
											{% for member in  favorite['groupMemberName'] %}
												{{ member['groupMemberName'] }} ,
											{% endfor %}
											{% else %}
												Aucun partage
											{% endif %}
								Commentaires : {{ favorite['comments'] }}"
								href="{{ path('one_file' , {'id': favorite['idfile'] }) }}">{{ favorite['name'] }}</a></td>
						<td>{{ favorite['date']| date("d/m/Y") }}</td>
						<td>{{ favorite['category'] }}</td>
						<td>
							{% if favorite['tagnames'] != 1 %}
								{% for tag in favorite['tagnames'] %}
										{{ tag['name'] }} ,
								{% endfor %}
							{% else %}
								Aucun Tag
							{% endif %}
						</td>
						<td>
							<span class="fav glyphicon glyphicon-star" aria-hidden="true" value="{{favorite.idfile}}"></span>
						</td>
						<td>
							<a class="btn" href="{{ path('ged_parameters_file', { 'id' : favorite['idfile'] }) }}" title="">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
						</td>
						<td>
							<a class="btn" href="{{ path('ged_download', { 'name' : favorite['path'] }) }}">
								<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
							</a>
						</td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
{# 	fin du tableau #}
</div>
<script type="text/javascript"> 
// script datatables
$(document).ready(function() { 
	$('table').DataTable( { 
		"paging": false,
		"info": false,
		"sDom": '<"H"lr>t<"F"ip>',
		"columnDefs": [{ "orderable": false, "targets": [3,4] }],
		"order": [[1, "asc"]]
	} );
} );
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});
</script>
{% endblock body %}