{% extends "GedBundle::layout.html.twig" %}
{% block body %}
{% include "GedBundle::nav.html.twig" %}
{% include "GedBundle::search.html.twig" %}
<div class="col-md-10">
	{% if nbBrouillon != 0 %}
		<div class="alert alert-success alert-dismissible navbar-header pagination-centered col-md-10 col-md-offset-1" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{% for flashMessage in app.session.flashbag.get('success') %}
		        <strong>Succes </strong>{{ flashMessage }}
			    {% if file is defined %}
			        <p><a href="{{ path('ged_parameters_file', { 'id' : file }) }}" title="">Vous pouvez maintenant régler les parametres du document ici.</a></p>
			    {% endif %}
			    <br />
			{% endfor %}
			{% if nbBrouillon == 1 %}
				<p>Vous avez actuellement {{ nbBrouillon }} fichier, à définir.</p>
			{% else %}
				<p>Vous avez actuellement {{ nbBrouillon }} fichiers, à définir.</p>
			{% endif %}
		</div>
	{% else %}
		{% for flashMessage in app.session.flashbag.get('success') %}
			<div class="alert alert-success alert-dismissible navbar-header pagination-centered col-md-10 col-md-offset-1" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	       		 <strong>Succes </strong>{{ flashMessage }}
		    	{% if file is defined %}
		    		<p><a href="{{ path('ged_parameters_file', { 'id' : file }) }}" title="">Vous pouvez maintenant régler les parametres du document ici.</a></p>
		    	{% endif %}
			</div>
		{% endfor %}	
	{% endif %}
	<div class="col-md-6 tab-cel ">
		<h3 style="text-align:center;">Mes favoris</h3>
		<table class="table compact stripe" id="table">
			<thead> 
				<tr> 
					<th></th> 
					<th>Nom du fichier</th>
					<th>Catégorie</th> 
					<th>Tags</th>
					<th>Paramètres</th>
				</tr> 
			</thead> 
			<tbody>
				{% if tabfav is defined %}
					{% for favorite in tabfav %}
						<tr> 
							<td>{% if favorite['type'] == 'jpeg' or favorite['type'] == 'jpg' or favorite['type'] == 'png' or favorite['type'] == 'gif' %}
								<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
							{% else %}
								Ico
							{% endif %}
							</td>
							<td><a href="{{ path('one_file' , {'id': favorite['idfile'] }) }}">{{ favorite['name'] }}</a></td>
							<td>{{ favorite['category'] }}</td> 
							<td>
								{% for tag in favorite['tagnames'] %}
									{{ tag['name'] }} ,
								{% endfor %}
							</td>
							<td><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></td>
							<td>
								<a class="btn" href="{{ path('ged_parameters_file', { 'id' : favorite['idfile'] }) }}" title="">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
							</td>
							<td>{{ favorite['date'].date }}</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="col-md-6 tab-cel">
		<h3 style="text-align:center;">Mes uploads</h3>
		<table class="table compact stripe  tab-cel" id="table">
			<thead> 
				<tr> 
					<th></th> 
					<th>Nom du fichier</th>
					<th>Catégorie</th> 
					<th>Tags</th>
					<th>Paramètres</th>
				</tr> 
			</thead> 
			<tbody>
				{% if tabupl is defined %}
					{% for upload in tabupl %}
						<tr> 
							<td>{% if upload['type'] == 'jpeg' or upload['type'] == 'jpg' or upload['type'] == 'png' or upload['type'] == 'gif' %}
								<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
							{% else %}
								Ico
							{% endif %}
							</td> 
								<td><a href="{{ path('one_file' , {'id': upload['idfile'] }) }}">{{ upload['name'] }}</a></td>
							<td>{{ upload['category'] }}</td> 
							<td>
								{% for tag in upload['tagnames'] %}
									{{ tag['name'] }}
								{% endfor %}
							</td>
							<td>
								<a class="btn" href="{{ path('ged_parameters_file', { 'id' : upload['idfile'] }) }}" title="">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
							</td>
							<td>{{ upload['date'].date }}</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
<div class="col-md-10">
	<div class="col-md-6 tab-cel">
		<h3 style="text-align:center;">Derniers commentés</h3>
		<table class="table compact stripe" id="tablecom">
			<thead> 
				<tr> 
					<th></th> 
					<th>Nom du fichier</th>
					<th>Catégorie</th> 
					<th>Tags</th>
					<th>Paramètres</th>
				</tr> 
			</thead> 
			<tbody>
				{% if tabcom is defined %}
					{% for commented in tabcom %}
						<tr>
							<td>{% if commented['type'] == 'jpeg' or commented['type'] == 'jpg' or commented['type'] == 'png' or commented['type'] == 'gif' %}
								<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
							{% else %}
								Ico
							{% endif %}
							</td> 
							<td><a href="{{ path('one_file' , {'id': commented['idfile'] }) }}">{{ commented['name'] }}</a></td>
							<td>{{ commented['category'] }}</td> 
							<td>
								{% for tag in commented['tagnames'] %}
									{{ tag['name'] }} ,
								{% endfor %}
							</td>
							<td>
								<a class="btn" href="{{ path('ged_parameters_file', { 'id' : commented['idfile'] }) }}" title="">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
							</td>
							<td>{{ commented['date'].date }}</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="col-md-6 tab-cel">
		<h3 style="text-align:center;">Partagés avec moi</h3>
		<table class="table compact stripe" id="table">
			<thead> 
				<tr> 
					<th></th> 
					<th>Nom du fichier</th>
					<th>Catégorie</th> 
					<th>Tags</th>
					<th>Paramètres</th>
				</tr> 
			</thead> 
			<tbody>
				{% if tabpart is defined %}
					{% for partaged in tabpart %}
						<tr>
							<td>{% if partaged['type'] == 'jpeg' or partaged['type'] == 'jpg' or partaged['type'] == 'png' or partaged['type'] == 'gif' %}
								<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
							{% else %}
								Ico
							{% endif %}
							</td>
							<td><a href="{{ path('one_file' , {'id': partaged['idfile'] }) }}">{{ partaged['name'] }}</a></td>
							<td>{{ partaged['category'] }}</td> 
							<td>
								{% for tag in partaged['tagnames'] %}
									{{ tag['name'] }} ,
								{% endfor %}
							</td>
							<td>
								<a class="btn" href="{{ path('ged_parameters_file', { 'id' : partaged['idfile'] }) }}" title="">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
							</td>
							<td>{{ partaged['date'].date }}</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript"> 
$(document).ready(function() { 
	$('table').DataTable( { 
		"paging": false,
		"info": false,
		"sDom": '<"H"lr>t<"F"ip>',
		"columnDefs": [
			{ 
				"orderable": false,
				"targets": [3,4]
			},
			{
                "targets": [ 5 ],
                "visible": false,
                "searchable": false
            },],
		"order": [[5, "asc"]]
	} );
	$('tablecom').DataTable( { 
		"paging": false,
		"info": false,
		"sDom": '<"H"lr>t<"F"ip>',
		"columnDefs": [
			{ 
				"orderable": false,
				"targets": [3,4]
			},
			{
                "targets": [ 5 ],
                "visible": false,
                "searchable": false
            },],
		"order": [[5, "desc"]]
	} );
} );
</script>
{% endblock body %}