{% extends "GedBundle::layout.html.twig" %}
{% block body %}
<div class="all">	
	<div class="col-md-4 button-container">
		<button class="btn button-one-file">Télécharger</button>
	</div>
	<div class="col-md-4 button-container">
		<button type="button" class="btn button-one-file" data-toggle="modal" data-target="#modal-partage">
 			Partager
		</button>
{# debut modal #}
	</div>
	<div class="modal fade" id="modal-partage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Partager ce fichier</h4>
				</div>
			{# 	<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							Partager dans un groupe existant:
							<br/>
							<div class="styled-select">
								{% if tabgroup is defined %}
									<form action="{{ path('ged_addfiletogroup', {'id':tabgroup['idgroup'], 'idfile': idfile } ) }}">
									<select>
								
										{% for group in tabgroup %}
											<option value="">
												<a href="">{{ group['groupname'] }}</a>
											</option>
										{% endfor %}
									
									</select>
								</form>
								{% endif %}
							</div>
						</div>
						<div class="col-md-6">
							Créer un nouveau groupe
							<br/>
							<a href="{{ path('ged_newgroup') }}">nouveau groupe</a>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div> #}
			</div>
		</div>
	</div>
{# fin modal #}
	<div class="col-md-4 button-container">
		<button class="btn button-one-file" id="btn-com">Commentaires</button>
	</div>
	<div class="col-md-12" id="file-part">
		<p> ce fichier a l'id {{ idfile }}</p>
		<p>il s'appelle {{ file.originalname }}</p>
		{% if file.type == 'jpeg' or file.type == 'jpg' or file.type == 'png' or file.type == 'gif' or file.type == 'ico' %}
			<img src="{{ asset('/uploads/' ~file.path) }}" alt="image">
		{% elseif file.type == 'txt' or file.type == 'html' or file.type == 'html.twig' or file.type == 'css' or file.type == 'php' or file.type == 'js' or file.type == 'md' or file.type == 'yml' or file.type == 'htm'  or file.type == 'xml' or file.type == 'xls' %}
			<pre>{{ textfile }}</pre>
		{% elseif file.type == 'pdf' %}
			<div><a href=" {{ asset('./uploads/'~file.path ) }} " target="blank">Afficher le document</a></div>
		{% endif %}
	</div>

	<div class="showform" id="com-part">
		<div class="existing-com">
			{% if tabcom != 1 %}
				{% for comment in tabcom %}
					<div class="one-comment">
						<p>{{ comment['owner'] }} {{ comment['date'].date | date("d/m/Y h:m:s") }}</p>
						<p>{{ comment['content'] }}</p>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="com-form showform" id="form">
			<form action="{{ path('new_comment') }}" method="post">
				<label for="content">laisser un commentaire:</label>
				<br/>
				<textarea name="content"></textarea>
				<input name="idfile" value="{{ idfile }}" style="display:none;"/>
				<br/>
				<input type="submit" value="valider"/>
			</form>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){

		$('#btn-com').click(function(){
			$('#com-part').toggleClass('col-md-3');
			$('#com-part').toggleClass('showform');
			$('#form').toggleClass('showform');
			$('#file-part').toggleClass('col-md-9');
			$('#file-part').toggleClass('col-md-12');
		});
		$('#modal-partage').on('shown.bs.modal', function () {
  		$('#modal-partage').focus()
		})

	});
	
</script>
{% endblock body %}
