{% extends "GedBundle::layout.html.twig" %}
{% block body %}
<div class="all">	
	<div class="col-md-6 col-md-offset-6 button-container">
		<a class="btn btn_download " href="{{ path('ged_parameters_file', { 'id': file.id }) }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Paramètres</a>
		<a class="btn btn_download " href="{{ path('ged_download', { 'name': file.path }) }}"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Télécharger</a>
		<button type="button" class="btn" data-toggle="modal" data-target="#modal-partage"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
 			Partager
		</button>
		<button class="btn" id="btn-com"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Commentaires</button>
	</div>
{# debut modal #}
	<div class="modal fade" id="modal-partage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Partager ce fichier</h4>
				</div>
				{% if tabgroup is defined %}
					<form action="{{ path('ged_addfiletogroup', {'idfile': idfile } ) }}" method="post">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-6">
									<p>Partager dans un groupe existant:</p>
									<div class="styled-select">
										<select name="groupname">
											{% for group in tabgroup %}
												<option name="groupname">
													{{ group['groupname'] }}
												</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<p>Créer un nouveau groupe</p>
									<a class="btn btn-default new-grp" href="{{ path('ged_newgroup') }}">nouveau groupe</a>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
							{% if  tabgroup != 1 %}
								<button type="submit" class="btn btn-default">Valider</button>
							{% endif %}
						</div>
					</form>
				{% endif %}
			</div>
		</div>
	</div>
{# fin modal #}
	
	<div class="col-md-12" id="file-part">
		<h2 class="file-title">{{ file.originalname }}</h2>
		{% if filegroup is not null and filegroup['idcreator'] != user.id %}
			<p class="file-title">fichier partagé dans: {{ filegroup['name'] }}</p>
		{% elseif filegroup is not null and filegroup['idcreator'] == user.id %}
			<p class="file-title">fichier partagé dans: <a href="{{ path('ged_editgroup', {'id': filegroup['id'] }) }}">{{ filegroup['name'] }}</a></p>
		{% endif %}
		{% if file.type == 'jpeg' or file.type == 'jpg' or file.type == 'png' or file.type == 'gif' or file.type == 'ico' %}
			<img src="{{ asset('/uploads/' ~file.path) }}" alt="{{file.originalname }}" class="file-img" id="file-img">

		{% elseif file.type == 'txt' or file.type == 'html' or file.type == 'html.twig' or file.type == 'css' or file.type == 'js' or file.type == 'md' or file.type == 'yml' or file.type == 'htm'  or file.type == 'xml' or file.type == 'xls' %}
			<pre class="file-text">{{ textfile }}</pre>
		
		{% elseif file.type == 'pdf' %}
			<div><a href=" {{ asset('./uploads/'~file.path ) }} " target="blank">Afficher le document</a></div>
		
		{% endif %}
	</div>

	<div class="showform" id="com-part">
		<div class="existing-com">
			{% if tabcom != 1 %}
				{% for comment in tabcom %}
					<div class="one-comment">
						<p>{{ comment['owner'] }} {{ comment['date'].date | date("d/m/Y h:m:s") }}</p>
						<p>{{ comment['content'] }}</p>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="com-form showform" id="form">
				<label for="content">laisser un commentaire:</label>
				<br/>
				<textarea name="content" id="comcontent"></textarea>
				<input name="idfile" value="{{ idfile }}" style="display:none;"/>
				<br/>
				<input type="submit" value="valider" id="addcomment"/>
		</div>
	</div>
</div>
<script>
	var newcomment="{{ path('ged_newcomment') }}";
	var idfile ="{{ idfile }}";
	$(document).ready(function(){

		$('#btn-com').click(function(){
			$('#com-part').toggleClass('col-md-3');
			$('#com-part').toggleClass('showform');
			$('#form').toggleClass('showform');
			$('#file-part').toggleClass('col-md-9');
			$('#file-part').toggleClass('col-md-12');
		});
		$('#modal-partage').on('shown.bs.modal', function () {
  		$('#modal-partage').focus()
		})
	});
	
</script>
<script type="text/javascript" src="{{ asset('js/comments.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/onefile.js') }}"></script>
{% endblock body %}
