{% extends "GedBundle::layout.html.twig" %}
{% block body %}
	<div class="tab-cel ">
		<h2 class="file-title">Paramètres du fichier {{ filename }}</h2>
	</div>
	<div>
		<form action=" {{ path('ged_parameters_file', {'id': id} ) }}" method="post">
			<div class="col-md-4 col-md-offset-4 parameters-category" style="text-align:center">
				<label for="addcat">Définir la catégorie:</label>
		    	<div class="styled-select2 category-list">
			    	<select class="form-control search-select" id="categories" name="addcat">
			    		<option value="0" >Toutes les catégories</option>
			    		{% for categorie in categories %}
							{% if categorie.name != 'brouillon' and categorie.name != 'Brouillon' and categorie.name != 'corbeille' %}
							    <option value="{{ categorie.id }}" name="addcat">{{ categorie.name }}</option>
							{% endif %}
						{% endfor %}
				    </select>
				</div>
		    	<div class="styled-select2 category-list">
			    	<select class="form-control" name="addsscat" id="sscategories" disabled>
					    <option value="0" name="addsscat">Toutes les sous-catégories</option>
				    </select>
				</div>
				<input value="Catégoriser" type="submit" class="btn btn-default"/>
			</div>
		</form>
		<div class="col-md-4 col-md-offset-4 parameters-tag">
			<div>
				<label>Ajouter des tags:</label>
				<input id="addtagfield" autocomplete="off"/>
				<div id="tag_auto" class="col-md-5 col-md-offset-4"></div>
				<button id="addtagbtn" class="btn btn-default">Ajouter</button>
			</div>
			<label>Ou supprimer des tags existants:</label>
			<div id="taglist">
				{% set counttag = 0 %}
				{% if tabtag != 1 %}
					{% for tag in tabtag %}
						<p class="tag" id="{{ tag.idlinktag }}">{{ tag.name }}<span class="glyphicon glyphicon-remove tagicon" id="{{ tag.idlinktag }}"></span></p>
						{% set counttag = counttag + 1 %}
					{% endfor %}
				{% endif %}
				<div class="counttag tagdisplay" id="{{ counttag }}"></div>
			</div>
		</div>
	</div>
	<form action="{{ path('ged_delete',{'id': id} ) }}" method="post" class="col-md-4 col-md-offset-4 parameters-delete">
		<input type="submit" value="supprimer le fichier" class="btn btn-default"/>
	</form>
</div>
<script type="text/javascript">
	var idfile = "{{ id }}";
	var tagremove="{{ path('ged_removetag') }}";
	var tagadd="{{ path('ged_addtag') }}";
	var auto_tag="{{ path('ged_auto_tag') }}";
	var path =  "{{ path('ged_ajax_sscat_search') }}";
	var isdeleted=0;
</script>
<script type="text/javascript" src="{{ asset('js/tags.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
{% endblock body %}