{% extends "GedBundle::layout.html.twig" %}
{% block body %}
	<div class="tab-cel ">
		<h3 style="text-align:center;">Paramètres du fichier.</h3>
	</div>
	<div>
		<form action=" {{ path('ged_parameters_file', {'id': id} ) }}" method="post">
			<div class="col-md-2">
				<label for="addtag">Ajouter une catégorie:</label>
			</div>
			<div class="col-md-3">
		    	<div class="styled-select">
			    	<select class="form-control search-select" id="categories" name="addcat">
			    		<option value="0" >Toutes les catégories</option>
			    		{% for categorie in categories %}
							{% if categorie.name != 'brouillon' and categorie.name != 'Brouillon' and categorie.name != 'corbeille' %}
							    <option value="{{ categorie.id }}">{{ categorie.name }}</option>
							{% endif %}
						{% endfor %}
				    </select>
				</div>
		    	<div class="styled-select">
			    	<select class="form-control" name="addsscat" id="sscategories" disabled>
					    <option value="0">Toutes les sous-catégories</option>
				    </select>
				</div>
			</div>
		</form>
		<div class="col-md-3">
			<div>
				<label>Ajouter des tags</label>
				<input id="addtagfield"/>
				<button id="addtagbtn">ajout</button>
			</div>
			<div id="taglist">
				{% set counttag = 0 %}
				{% if tabtag != 1 %}
					<label>Ou supprimer des tags existants</label>
					{% for tag in tabtag %}
						<p class="tag" id="{{ tag.idlinktag }}">{{ tag.name }}<span class="glyphicon glyphicon-remove tagicon" id="{{ tag.idlinktag }}"></span></p>
						{% set counttag = counttag + 1 %}
					{% endfor %}
				{% endif %}
				<div class="counttag tagdisplay" id="{{ counttag }}"></div>
			</div>
		</div>
	</div>
	<form action="{{ path('ged_delete',{'id': id} ) }}" method="post">
		<input type="submit" value="supprimer le fichier"></input>
	</form>
</div>
<script type="text/javascript">
	var idfile = "{{ id }}";
	var tagremove="{{ path('ged_removetag') }}";
	var tagadd="{{ path('ged_addtag') }}";
</script>
<script type="text/javascript" src="{{ asset('js/tags.js') }}"></script>

{% endblock body %}