{% extends "GedBundle::layout.html.twig" %}
{% block body %}
{% include "GedBundle::nav.html.twig" %}
{% include "GedBundle::search.html.twig" %}
<div class="col-md-10">
	<h3 style="text-align:center;">Sous-Catégorie: {{title.name}}</h3>
	<table class="table compact stripe" id="table">
		<thead> 
			<tr> 
				<th></th>
				<th>Nom du fichier</th>
				<th>Date</th>
				<th>Catégorie</th> 
				<th>Tags</th>
				<th>Favori</th>
				<th>Paramètres</th>
				<th>Telecharger</th>
			</tr> 
		</thead> 
		<tbody>
			{% if tabMyFiles is defined %}
				{% for myfiles in tabMyFiles %}
					<tr> 
						<td>
							{% if myfiles['type'] == 'jpeg' or myfiles['type'] == 'jpg' or myfiles['type'] == 'png' or myfiles['type'] == 'gif' %}
								<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
							{% else %}
								Ico
							{% endif %}
						</td>
						<td>
							<a data-toggle="tooltip" data-placement="bottom" title="
							Partagé avec: {% if myfiles['groupMemberName'] != 1 %}
											{% for member in  myfiles['groupMemberName'] %}
												{{ member['groupMemberName'] }} ,
											{% endfor %}
											{% else %}
												Aucun partage
											{% endif %}
							Commentaires : {{ myfiles['comments'] }}" 
							href="{{ path('one_file' , {'id': myfiles['fileId'] }) }}">{{ myfiles['name'] }}</a>
						</td>
						<td>{{ myfiles['date'] | date("d/m/Y") }}</td>
						<td>{{ myfiles['category'] }}</td> 
						<td>
							{% if myfiles['tagnames'] != 1 %}
								{% for tag in myfiles['tagnames'] %}
										{{ tag['tagName'] }} ,
								{% endfor %}
							{% else %}
								Aucun Tag
							{% endif %}
						</td>
						<td>
							{% if myfiles['bookmark'] != 1 %}
								<span class="fav glyphicon glyphicon-star-empty" aria-hidden="true" value="{{myfiles.fileId}}"></span>
							{% else %}
								<span class="fav glyphicon glyphicon-star" aria-hidden="true" value="{{myfiles.fileId}}"></span>
							{% endif %}
						</td>
						<td>
							<a class="btn" href="{{ path('ged_parameters_file', { 'id' : myfiles['fileId'] }) }}" title="">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
						</td>
						<td>
							<a class="btn" href="{{ path('ged_download', { 'name' : myfiles['path'] }) }}">
								<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
							</a>
						</td>
					</tr>
				{% endfor %}
			{% endif %}
			{% if tabGroupFiles is defined %}
				{% for groupfiles in tabGroupFiles %}
					{% if groupfiles['idowner'] != user.id %}
						<tr> 
							<td>
								{% if groupfiles['type'] == 'jpeg' or groupfiles['type'] == 'jpg' or groupfiles['type'] == 'png' or groupfiles['type'] == 'gif' %}
									<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
								{% else %}
									Ico
								{% endif %}
							</td>
							<td>
								<a data-toggle="tooltip" data-placement="bottom" title="
								Partagé avec: {% if groupfiles['groupMemberName'] != 1 %}
											{% for member in  groupfiles['groupMemberName'] %}
												{{ member['groupMemberName'] }} ,
											{% endfor %}
											{% else %}
												Aucun partage
											{% endif %}
								Commentaires : {{ groupfiles['comments'] }}"
								href="{{ path('one_file' , {'id': groupfiles['fileId'] }) }}">{{ groupfiles['name'] }}</a></td>
							<td>{{ groupfiles['date'] | date("d/m/Y") }}</td>
							<td>{{ groupfiles['category'] }}</td> 
							<td>
								{% if groupfiles['tagnames'] != 1 %}
									{% for tag in groupfiles['tagnames'] %}
											{{ tag['tagName'] }} ,
									{% endfor %}
								{% else %}
									Aucun Tag
								{% endif %}
							</td>
							<td>
								{% if groupfiles['bookmark'] != 1 %}
									<span class="fav glyphicon glyphicon-star-empty" aria-hidden="true" value="{{groupfiles.fileId}}"></span>
								{% else %}
									<span class="fav glyphicon glyphicon-star" aria-hidden="true" value="{{groupfiles.fileId}}"></span>
								{% endif %}
							</td>
							<td>
								<a class="btn" href="{{ path('ged_parameters_file', { 'id' : groupfiles['fileId'] }) }}" title="">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
							</td>
							<td>
								<a class="btn" href="{{ path('ged_download', { 'name' : groupfiles['path'] }) }}">
									<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
								</a>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
</div>
<script type="text/javascript"> 
$(document).ready(function() { 
	$('table').DataTable( { 
		"paging": false,
		"info": false,
		"sDom": '<"H"lr>t<"F"ip>',
		"columnDefs": [{ "orderable": false, "targets": [3,4] }],
		"order": [[1, "asc"]]
	} );
} );
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});
</script>
{% endblock body %}